In [18]:
import pandas as pd

#Set the path for CSV files
cleaned_data_path = "resources\cleaned_data.csv"
industries_path = "resources\industries.csv"

In [19]:
# Read the CSV file into a DataFrame
cleaned_df = pd.read_csv(cleaned_data_path)
cleaned_df.head()

,ASX Code,Security Group Code,Issuer Full Name,Product Description,Last Price($),Business Date,Year
0,1AD,EQY,ADALTA LIMITED ...,ORDINARY,0.280,20170630,2017
1,1AG,EQY,ALTERRA LIMITED ...,ORDINARY,0.024,20170630,2017
2,1ST,EQY,1ST GROUP LIMITED ...,ORDINARY,0.026,20170628,2017
3,3DP,EQY,POINTERRA LIMITED ...,ORDINARY,0.025,20170629,2017
4,3PL,EQY,3P LEARNING LIMITED.. ...,ORDINARY,1.045,20170630,2017

In [20]:
#Read the industry CSV file
industries_df = pd.read_csv(industries_path)
industries_df.head()

,ASX Code,Company Name,Sub-Industry
0,1AD,Adalta Limited Ordinary,Biotechnology & Medical Research
1,1AE,Aurora Energy Metals Limited Ordinary,Uranium
2,1ADOA,Adalta Limited $0.03 Option Expiring 29-May-2024,Biotechnology & Medical Research
3,14D,1414 Degrees Limited Ordinary,Electrical Components & Equipment
4,1AG,Alterra Limited Ordinary,Environmental Services & Equipment

In [21]:
#Merging combined data CSV and industries CSV files adding the Sub Industry column
merged_df = cleaned_df.merge(industries_df, on=['ASX Code'], how='left')
merged_df["ASX Code"].nunique()

2261

In [22]:
# removing entries without sub-industry
merged_df = merged_df.dropna(subset=["Sub-Industry"])
merged_df["ASX Code"].nunique()

1858

In [23]:
#Saving the final file as a CSV
merged_df.to_csv('resources\merged_industries.csv', index=False)